<div class="org_tree_block" ng-show="org.opened">

                    <ul>
                        <!-- ngRepeat: controller in org.Controllers -->
                        <label ng-repeat="controller in org.Controllers" class="" ng-click="SetSelectedObject(controller);">
                            <li class="l1">
                                <input type="checkbox" ng-model="controller.isChoosen" ng-click="AddOrRemoveController(controller)" class="visible">
                            </li>
                            <li class="l2 ng-binding">1</li>
                            <li>
                                <div class="icons">
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic1_red.svg">
                                        <p class="ng-binding">Сим-карта оплачена до 01.02.2016 г.</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic2_black.svg">
                                        <p class="ng-binding">Заряд батареи 0%</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic3_red.svg">
                                        <p class="ng-binding">ТО оплачено до: 01.02.2016 г.</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic4_green.svg">
                                        <p class="ng-binding">Кол-во видимых спутников: 15</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic5_green.svg">
                                        <p class="ng-binding">Вр. посл. синхр. GPS: 12:25:02 15.07.2016</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic6_green.svg">
                                        <p class="ng-binding">Вр.посл.синх.АСКП: 12:25:34 15.07.2016</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic7_green.svg">
                                        <p class="ng-binding">Вр.посл.синх.ЕГАИС: 12:26:57 15.07.2016</p>
                                    </span>
                                </div>
                            </li>
                            <li class="l4">
                                <nobr class="ng-binding">ак0054 68</nobr>
                            </li>
                        </label>
                        <!-- end ngRepeat: controller in org.Controllers -->
                        
                        <label ng-repeat="controller in org.Controllers" class="" ng-click="SetSelectedObject(controller);">
                            <li class="l1">
                                <input type="checkbox" ng-model="controller.isChoosen" ng-click="AddOrRemoveController(controller)" class="visible">
                            </li>
                            <li class="l2 ng-binding">2</li>
                            <li>
                                <div class="icons">
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic1_red.svg">
                                        <p class="ng-binding">Сим-карта оплачена до 15.10.2014 г.</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic2_black.svg">
                                        <p class="ng-binding">Заряд батареи 0%</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic3_red.svg">
                                        <p class="ng-binding">ТО оплачено до: 15.10.2014 г.</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic4_red.svg">
                                        <p class="ng-binding">Кол-во видимых спутников: 1</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic5_green.svg">
                                        <p class="ng-binding">Вр. посл. синхр. GPS: 12:24:45 15.07.2016</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic6_green.svg">
                                        <p class="ng-binding">Вр.посл.синх.АСКП: 12:24:27 15.07.2016</p>
                                    </span>
                                    <span>
                                        <img src="/Content/front-content/css/img/icons/ic7_red.svg">
                                        <p class="ng-binding">Вр.посл.синх.ЕГАИС: 11:43:56 14.07.2016</p>
                                    </span>
                                </div>
                            </li>
                            <li class="l4">
                                <nobr class="ng-binding">ак4264 68</nobr>
                            </li>
                        </label>
                        <!-- end ngRepeat: controller in org.Controllers -->
                    </ul>


                </div>